@model VistarAutor.Models.Main.PhoneType

@{
    ViewBag.Title = "Удалить";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Удалить</h3>

<h4>Вы действительно желаете удалить эту запись?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Тип телефона:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
