@model IEnumerable<VistarAutor.Models.Client.Client>

<div id="list_clients">
    <table class="table table-striped small">
        @foreach (var client in Model)
        {
            <tr style="background-color: lavender">
                <td><i class="glyphicon glyphicon-home"></i></td>
                <td></td>
                <td>
                    <strong>
                        @Html.ActionLink(client.Name, "List", new { id = client.Id }, new { style = "color:darkslategray" })
                    </strong>
                </td>
                <td style="color: darkslategray">@client.FullName</td>
            </tr>
        }
    </table>
</div>
