@using VistarAutor.Models

<div class="modal fade" id="dellPerson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @using (Ajax.BeginForm("PartialDellPerson", "Clients", null, new AjaxOptions { UpdateTargetId = "cont1", HttpMethod = "POST" }, null))
    {
        <div class="form-horizontal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <label> Подтвердите удаление:</label>
                            <div id="HdellPerson"></div>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="Id" id="hidenDellPersonId"/>
                        <button type="submit" class="btn btn-default" id="dellPersonOk">@GlobalStrings.DELL</button>

                        <button type="button" class="btn btn-default" data-dismiss="modal">@GlobalStrings.CANSEL</button>

                    </div>
                </div>
            </div>
        </div>
    }
</div>



                       
           
           
