@using VistarAutor.Models

<div class="modal fade" id="dellPerson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    @using (Ajax.BeginForm("PartialDellPerson", "Clients", null, new AjaxOptions { UpdateTargetId = "cont1", HttpMethod = "POST" }, null))
    {
        <div class="form-horizontal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <label id="hidenNamePerson"></label>
                    </div>
                    <div class="modal-body">
                        <h3>Дописать</h3>
                        
                        <input type="text" name="Id" id="hidenDellPersonId" />
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" id="dellPersonOk">@GlobalStrings.SIGN</button>
                            </div>
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="reset" id="btnDellPerson">@GlobalStrings.DELL</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



                       
           
           
